html,body{height:100%}
.hero{background:#07325d;color:#fff;min-height:100%;align-items:center}
.roow{width:100%;display:flex;justify-content:space-between}
.i{transform:scaleX(-1);filter:FlipH}
.ratio.a4{--bs-aspect-ratio:141.42%}

.login-card{overflow:hidden;width:100%;max-width:450px}
.login-card img{width:40%}

