---
import Layout from '../layouts/Layout.astro'
export const prerender = true
---
<Layout title="جامعة الأمام جعفر الصادق (ع)">
	<header slot="header" class="hero h-100 p-3">
		<div class="roow hero-head">
			<img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/Coat_of_arms_of_Iraq.svg" height="100" alt="جمهورية العراق">
			<img src="https://islamic.uodiyala.edu.iq/uploads/Mustafa%202019/pdf%20-%20home%20page/%D8%B4%D8%B9%D8%A7%D8%B1%20%D8%A7%D9%84%D9%88%D8%B2%D8%A7%D8%B1%D8%A9%20.png" height="100" alt="وزارة التعليم العالي والبحث العلمي">
		</div>
			<div class="text-center">
			<img class="rounded-pill mb-5" style="max-width:320px;width:70%;box-shadow:0 0 45px #C79B40;" src="/assets/logo/512x512.png" alt="شعار جامعة الأمام جعفر الصادق (ع)" transition:name="logo">
			<hgroup>
				<h1 class="display-4 mb-3">مكتبة جامعة الأمام جعفر الصادق (ع)</h1>
				<p class="display-6 mb-4 text-secondary-emphasis">فرع ميسان</p>
			</hgroup>
			<a class="btn btn-primary btn-lg rounded-pill fw-bold shadow-sm" href="/books/">دخول</a>
		</div>
		<div class="roow">
			<p class="h2">أعداد الطالب: مصطفى مناف</p>
			<p class="h2">بإشراف الأستاذ: محمد قاسم</p>
		</div>
	</header>
		
		
		
</Layout>