---
const title = "مكتبة جامعة الأمام جعفر الصادق (ع)"
import Layout from '../layouts/Layout.astro'
export const prerender = true
---
<Layout title={title}>
	<header slot="header" class="hero h-100 p-3 d-flex flex-column">
			<div class="text-center flex-grow-1">
			<img class="rounded-pill mb-5" style="max-width:320px;width:70%;box-shadow:0 0 45px #C79B40;" src="/assets/logo/512x512.png" alt="شعار جامعة الأمام جعفر الصادق (ع)" transition:name="logo">
			<hgroup>
				<h1 class="display-4 mb-3">{title}</h1>
				<p class="display-6 mb-4 text-secondary-emphasis">فرع ميسان</p>
			</hgroup>
			<a class="btn btn-primary btn-lg rounded-pill fw-bold shadow-sm" href="/books/">دخول</a>
		</div>
		<div class="roow mt-auto">
			<p class="h2">أعداد الطالب: مصطفى مناف</p>
			<p class="h2">بإشراف الأستاذ: محمد قاسم</p>
		</div>
	</header>
</Layout>