---
import Layout from '../layouts/Layout.astro';
import { auth } from "../utils/auth";
const session = await auth.api.getSession({ headers: Astro.request.headers })
if (session) return Astro.redirect("/lms/")
---
<Layout title="دخول" bodyClass="d-flex align-items-center justify-content-center p-4" mainClass="card login-card">
	<header class="card-header text-center bg-transparent border-0">
		<hgroup>
			<h1 class="mb-2">تسجيل الدخول</h1>
			<p class="h2 mb-4 text-secondary">الإدارة</p>
		</hgroup>
		<img src="/assets/logo/512x512.png" alt="شعار جامعة الأمام جعفر الصادق (ع)">
	</header>
	<form class="card-body" id="login">
		<div class="mb-3">
			<label for="email" class="form-label fw-medium">عنوان إسم المستخدم:</label>
			<input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="e.g. admin" autocomplete="username" required>
			<div class="invalid-feedback">يرجى إدخال عنوان إسم المستخدم.</div>
		</div>
		<div class="mb-4">
			<label for="password" class="form-label fw-medium">كلمة المرور:</label>
			<input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="************" autocomplete="current-password" minlength="8" required>
			<div class="invalid-feedback">يرجى إدخال كلمة المرور.</div>
		</div>
		<button type="submit" class="btn btn-primary btn-lg w-100 focus-ring fw-bold shadow-sm">تسجيل الدخول</button>
	</form>
	<footer class="card-footer">
		<button type="button" class="btn btn-primary btn-lg w-100 focus-ring fw-bold shadow-sm" id="passkey">مفتاح المرور</button>
		<br><br>
		<button type="button" id="register" class="btn btn-primary btn-lg w-100 focus-ring fw-bold shadow-sm" style="margin-top:1rem;">تسجيل جهاز جديد</button>
	</footer>
	<script>
		import { authClient } from "../utils/authClient"
		const form = document.getElementById('login')
		form.addEventListener("submit", async (e) => {
			e.preventDefault()
			form.classList.add('needs-validation')
			if (!loginForm.checkValidity()) return
			
			const formData = new FormData(form)
			await authClient.signIn.email({
				email: formData.get('email').trim(),
				password: formData.get('password').trim(),
				rememberMe: true,
				callbackURL: "/lms/"
			},{
				onRequest: (ctx) => {
					toggleFormState(true)
					alertBox.classList.add('d-none')
				},
				onError: (ctx) => {
					toggleFormState(false)
					const { error } = ctx
					alertMsg.textContent = `${error.message} – ${error.code}`
					alertBox.classList.remove('d-none')
				}
			})
		})
		document.getElementById('passkey').addEventListener('click', async () => {
			const { data, error } = await authClient.signIn.passkey()
			if (error) {
				alert("فشل الدخول بمفتاح المرور: " + error.message)
			} else window.location.href = "/lms/"
		})
		
		/*document.getElementById('register').addEventListener('click', async () => {
			await authClient.signUp.email({
				email: "w@w.w",
				password: "Abcd&1234",
				name: "Mustafa",
				callbackURL: "/lms/users/"
			}, {
				onError: (ctx) => {
					const { error } = ctx
					let msg = error.message
					if (error.status === 422) {
						msg = "البيانات المدخلة غير صحيحة أو كلمة المرور ضعيفة."
					} else if (error.status === 409) {
						msg = "هذا البريد الإلكتروني مسجل بالفعل."
					}
					alert(`[خطأ] ${msg}`)
				}
			})
		})*/
	</script>
</Layout>