---
const title = "إدارة الحساب"
const user = Astro.locals.user
import Layout from '../../layouts/Layout.astro'
import AdminNavbar from '../../components/AdminNavbar.astro'
import { auth } from "../../utils/auth"
const passkeys = await auth.api.listPasskeys({headers: await Astro.request.headers})
import { deleteAllBooks } from '../../utils/books.js'
if (Astro.request.method === 'DELETE') {
	const res = await deleteAllBooks(user.id)
	return new Response(res.status ? null : res.message, { status: res.status ? 204 : 500 })
}
---
<Layout title={title} mainClass="container p-4 mx-auto w-600">
	<AdminNavbar slot="nav"/>
	<header class="container p-4" slot="header">
		<h1>{title}</h1>
	</header>
	<form class="card my-5 needs-validation" novalidate id="edit">
		<div class="card-body">
			<div class="alert alert-danger d-none d-flex align-items-center shadow-sm mb-3" role="alert" id="alert" dir="ltr">
				<svg class="bi flex-shrink-0 ms-2" viewBox="0 0 16 16" width="16" height="16" role="img"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>
				<div id="alertMsg"></div>
			</div>
			<h2 class="h4 mb-3">كلمة المرور</h2>
			<div class="row g-3 mb-3">
				<div class="col-md-6">
					<label for="currentPassword" class="form-label">كلمة المرور الحالية:</label>
					<div class="input-group">
						<span class="input-group-text" id="currentPasswordIcon"><svg class="bi" viewBox="0 0 16 16" width="16" height="16" role="img"><path fill-rule="evenodd" d="M12 0a4 4 0 0 1 4 4v2.5h-1V4a3 3 0 1 0-6 0v2h.5A2.5 2.5 0 0 1 12 8.5v5A2.5 2.5 0 0 1 9.5 16h-7A2.5 2.5 0 0 1 0 13.5v-5A2.5 2.5 0 0 1 2.5 6H8V4a4 4 0 0 1 4-4"/></svg></span>
						<input type="password" class="form-control form-control-lg" id="currentPassword" name="currentPassword" placeholder="************" autocomplete="current-password" minlength="8" required aria-describedby="currentPasswordIcon">
						<div class="invalid-feedback">يرجى إدخال كلمة المرور الحالية!</div>
					</div>
				</div>
				<div class="col-md-6">
					<label for="newPassword" class="form-label">كلمة المرور الجديدة:</label>
					<div class="input-group">
						<span class="input-group-text" id="newPasswordIcon"><svg class="bi" viewBox="0 0 16 16" width="16" height="16" role="img"><path fill-rule="evenodd" d="M8 0c1.07 0 2.041.42 2.759 1.104l.14.14.062.08a.5.5 0 0 1-.71.675l-.076-.066-.216-.205A3 3 0 0 0 5 4v2h6.5A2.5 2.5 0 0 1 14 8.5v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4"/></svg></span>
						<input type="password" class="form-control form-control-lg" id="newPassword" name="newPassword" placeholder="************" autocomplete="new-password" minlength="8" required aria-describedby="newPasswordIcon">
						<div class="invalid-feedback">يرجى إدخال كلمة المرور الجديدة!</div>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary focus-ring fw-bold w-100 mb-3">
				<span class="spinner-grow spinner-grow-sm d-none" id="btnSpinner" role="status" aria-hidden="true"></span>
				<span id="btnText">تحديث <svg class="bi" viewBox="0 0 16 16" width="16" height="16" role="img"><path d="M12 2h-2v3h2z"/><path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v13A1.5 1.5 0 0 0 1.5 16h13a1.5 1.5 0 0 0 1.5-1.5V2.914a1.5 1.5 0 0 0-.44-1.06L14.147.439A1.5 1.5 0 0 0 13.086 0zM4 6a1 1 0 0 1-1-1V1h10v4a1 1 0 0 1-1 1zM3 9h10a1 1 0 0 1 1 1v5H2v-5a1 1 0 0 1 1-1"/></svg></span>
			</button>
			<hr class="my-2">
			<h2 class="h4 mb-3">مفاتيح المرور</h2>
			<div class="row mb-3">
				<div class="col"><button type="button" class="btn btn-primary w-100" id="addPasskey" disabled={passkeys.length > 0}><svg class="bi" viewBox="0 0 16 16" width="16" height="16" role="img"><path d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"/><path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415"/></svg> اضافة مفتاح المرور</button></div>
				<div class="col"><button type="button" class="btn btn-danger w-100" id="deletePasskey" data-key={passkeys[0]?.id || ''} disabled={passkeys.length == 0}><svg class="bi" viewBox="0 0 16 16" width="16" height="16" role="img"><path d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"/><path d="M6.146 5.146a.5.5 0 0 1 .708 0L8 6.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 7l1.147 1.146a.5.5 0 0 1-.708.708L8 7.707 6.854 8.854a.5.5 0 1 1-.708-.708L7.293 7 6.146 5.854a.5.5 0 0 1 0-.708"/></svg> ازالة مفتاح المرور</button></div>
			</div>
			<hr class="mt-2 mb-3">
			<div class="alert alert-danger" role="alert">
				<div class="d-flex align-items-center">
					<svg class="bi flex-shrink-0 me-2" viewBox="0 0 16 16" width="16" height="16" role="img"><path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg>
					<h2 class="h4 alert-heading">خطر</h2>
				</div>
				<p class="mb-1">هذه الإجراءات لا يمكن التراجع عنها، يرجى الحذر.</p>
				<hr>
				<div class="mb-3 row">
					<div class="col"><button type="button" class="btn btn-danger w-100" id="deleteBook"><svg class="bi" viewBox="0 0 16 16" width="16" height="16" role="img"><path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0 0 13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91H9v1H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zm6.339-1.577A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/><path d="M11.854 10.146a.5.5 0 0 0-.707.708L12.293 12l-1.146 1.146a.5.5 0 0 0 .707.708L13 12.707l1.146 1.147a.5.5 0 0 0 .708-.708L13.707 12l1.147-1.146a.5.5 0 0 0-.707-.708L13 11.293z"/></svg> حذف كتب</button></div>
					<div class="col"><button type="button" class="btn btn-danger w-100" id="deleteAccount"><svg class="bi" viewBox="0 0 16 16" width="16" height="16" role="img"><path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708"/></svg> حذف حساب</button></div>
				</div>
			</div>
		</div>
		<div class="card-footer p-3 text-end">
			<button type="button" class="btn btn-outline-primary" id="logout">تسجيل الخروج <svg class="bi" viewBox="0 0 16 16" width="16" height="16" role="img"><path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0z"/><path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708z"/></svg></button>
		</div>
	</form>
	<script>
		import { authClient } from "../../utils/authClient"
		import { navigate } from 'astro:transitions/client'
	document.addEventListener("astro:page-load", () => {
		const form = document.getElementById('edit')
		const alertTag = document.getElementById('alert')
		const alertMsg = document.getElementById('alertMsg')
		const formState = (is) => {
			const formControls = form.querySelectorAll('input, button')
			const btnSpinner = document.getElementById('btnSpinner')
			const btnText = document.getElementById('btnText')
			formControls.forEach(control => { control.disabled = is })
		    if (is) {
		        btnSpinner.classList.remove('d-none')
		        btnText.textContent = "جاري المعالجة..."
		    } else {
		        btnSpinner.classList.add('d-none')
		        btnText.textContent = "تحديث"
		    }
		}
		form.addEventListener("submit", async (e) => {
			e.preventDefault()
			form.classList.add('was-validated')
			if (!form.checkValidity()) return
			const formData = new FormData(form)
			await authClient.changePassword({
				currentPassword: formData.get('currentPassword'),
				newPassword: formData.get('newPassword'),
				revokeOtherSessions: true
			}, {
				onRequest: (ctx) => {
					formState(true)
					alertTag.classList.add('d-none')
				},
				onError: (ctx) => {
					formState(false)
					alertMsg.textContent = ctx.error.message
					alertTag.classList.remove('d-none')
				}
			})
		})
		document.getElementById('addPasskey').addEventListener('click', async () => {
			await authClient.passkey.addPasskey({
				authenticatorAttachment: "platform",
				fetchOptions: {
					onSuccess: () => {
						window.location.reload()
					},
					onRequest: (ctx) => {
						alertTag.classList.add('d-none')
					},
					onError: (ctx) => {
						alertMsg.textContent = ctx.error.message
						alertTag.classList.remove('d-none')
					}
				}
			})
		})
		document.getElementById('deletePasskey').addEventListener('click', async () => {
			await authClient.passkey.deletePasskey({
				id: document.getElementById('deletePasskey').dataset.key,
				fetchOptions: {
					onSuccess: () => {
						window.location.reload()
					},
					onRequest: (ctx) => {
						alertTag.classList.add('d-none')
					},
					onError: (ctx) => {
						alertMsg.textContent = ctx.error.message
						alertTag.classList.remove('d-none')
					}
				}
			})
		})
		document.getElementById('deleteBook').addEventListener('click', () => {
			if (!confirm('هل تريد حذف جميع الكتب؟')) return
			fetch('/lms/profile/', {method: 'DELETE', credentials: 'include'}).then(res => {
				res.ok ? navigate("/lms/", { history: 'replace' }) : alert('تعذر الحذف')
			})
		})
		document.getElementById('deleteAccount').addEventListener('click', async () => {
		if (!confirm('هل تريد حذف حسابك؟')) return
			await authClient.deleteUser({
				callbackURL: "/"
			})
		})
		document.getElementById('logout').addEventListener('click', async () => {
			await authClient.signOut({
				fetchOptions: {
					onSuccess: () => {
						window.location.href = "/"
					}
				}
			})
		})
	})
	</script>
</Layout>