<form class="row row-cols-1 row-cols-lg-2 g-2">
	<div class="col">
		<div class="input-group">
			<div class="form-floating">
				<select class="form-select" id="floatingSelect" aria-label="أختيار الكلية">
					<option selected>أختر</option>
					<option value="1">التقنية الهندسية</option>
					<option value="2">التقنيات الصحية والطبية</option>
					<option value="3">القانون والسياسة</option>
					<option value="3">التربية</option>
					<option value="3">العلوم الإدارية والمالية</option>
				</select>
				<label for="floatingSelect">الكلية</label>
			</div>
			<div class="form-floating">
				<select class="form-select" id="floatingSelect" aria-label="أختيار القسم">
					<option selected>أختر</option>
					<!-- التقنية الهندسية -->
					<option value="2">هندسة الحاسوب</option>
					<option value="1">هندسة تقنيات الحاسوب</option>
					<option value="3">هندسة تقنيات ميكانيك القوى</option>
					<!-- التقنيات الصحية والطبية -->
					<option value="1">تقنيات المختبرات الطبية</option>
					<option value="2">تقنيات التجميل والليزر</option>
					<!-- القانون والسياسة -->
					<option value="3">القانون</option>
					<!-- التربية -->
					<option value="2">علوم القران</option>
					<option value="3">اللغة الانكليزية</option>
					<option value="1">التربية الفنية</option>
					<!-- العلوم الإدارية والمالية -->
					<option value="3">المحاسبة</option>
					<option value="1">ادارة الاعمال</option>
					<option value="2">اقتصاديات نفط وغاز</option>
				</select>
				<label for="floatingSelect">القسم</label>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="input-group">
			<div class="form-floating">
				<select class="form-select" id="floatingSelect" aria-label="أختيار المرحلة">
					<option selected>أختر</option>
					<option value="1">الأولى</option>
					<option value="1">الثانية</option>
					<option value="2">الثالثة</option>
					<option value="3">الرابعة</option>
				</select>
				<label for="floatingSelect">المرحلة</label>
			</div>
			<div class="form-floating">
				<select class="form-select" id="floatingSelect" aria-label="أختيار الكورس">
					<option selected>أختر</option>
					<option value="1">الأول</option>
					<option value="2">الثاني</option>
				</select>
				<label for="floatingSelect">الكورس</label>
			</div>
		</div>
	</div>
</form>