<form class="input-group" role="search">
	<div class="form-floating w-50">
		<input type="search" class="form-control" id="search" placeholder="المعالجات الدقيقة" aria-describedby="searchBtn">
		<label for="search">البحث</label>
	</div>
	<div class="form-floating w-auto">
	<select class="form-select" id="searchType" aria-label="اختر نوع البحث">
		<option selected>إسم كتاب</option>
		<option value="1">إسم الأستاذ</option>
	</select>
	<label for="searchType">نوع البحث</label>
</div>
	<button type="submit" class="btn btn-success w-auto" id="searchBtn">بحث</button>
</form>